<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
{% include 'loginlogout.html' %}
<h1>Welcome to Prompt Auto Service Cluj-Napoca</h1>
<p>If you're looking for a reliable Car Garage in Cluj-Napoca, look no further than Prompt Auto Service, specialists in a wide range of garage services including tyres, car servicing, mot, car repairs. Established in 2007, we provide an honest and reliable service at all times, proud to be recognised as a highly reputable Car Garage in Cluj-Napoca.</p>
</body>
</html>