<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  cursor: pointer;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}
</style>
    <title>Ticket details</title>
</head>

<body>
    <h1>Ticket number {{ ticket.ticket_number }} - {{ ticket.client_name }}</h1>
    <table border = "1" cellpadding = "5", cellspacing = "5">
        <thead>
            <tr>
                <th colspan = "2">Client Details</th>
            </tr>
        </thead>
            <tr>
                <td>Client Name</td>
                <td>{{ticket.client_name}}</td>
            </tr>
            <tr>
                <td>Phone number</td>
                <td>{{ ticket.client_phone }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td>{{ ticket.client_email }}</td>
            </tr>
        <thead>
            <tr>
                <th colspan = "2">Vehicle details</th>
            </tr>
        </thead>
            <tr>
                <td>Vehicle type</td>
                <td>{{ticket.vehicle_type}}</td>
            </tr>
            <tr>
                <td>Vehicle ID(VIN)</a></td>
                <td>{{ ticket.vehicle_ID }}</td>
            </tr>
            <tr>
                <td>Licence number</td>
                <td>{{ticket.vehicle_licence_number}}</td>
            </tr>
            <tr>
                <td>Vehicle Issue</td>
                <td>{{ticket.vehicle_issue_text}}</td>
            </tr>
    </table>
    <table border = "1" cellpadding = "5", cellspacing = "5">
             <thead>
                <tr>
                    <th colspan = "2">Ticket details</th>
                </tr>
            </thead>
                <tr>
                    <td>Ticket Status</td>
                    <td>{{ticket.ticket_status}}</td>
                </tr>
                <tr>
                    <td>Ticket entry date</td>
                    <td>{{ticket.ticket_entry_date}}</td>
                </tr>
                <tr>
                    <td>Ticket solution date</td>
                    <td>{{ticket.ticket_solution_date}}</td>
                </tr>
                <tr>
                    <td>Ticket solution date</td>
                    <td>{{ticket.ticket_solution_date}}</td>
                </tr>
                <tr>
                    <td>Ticket solution text</td>
                    <td>{{ticket.ticket_solution_text}}</td>
                </tr>
                        <tr>
                    <td>Ticket number</td>
                    <td>{{ticket.ticket_number}}</td>
                </tr>
                <tr>
                    <td>Ticket assignee</td>
                    <td>{{ticket.ticket_assignee}}</td>
                </tr>
        </table>
            <a href='editticket/'>
                <button class="button button4">Edit ticket</button>
            </a>
    </body>
</html>